/* Font Face */
@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* General Styles */
.np-extension-body {
  font-family: 'Quicksand';
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

/* Container Styles */
.np-extension-html {
  height: 100%;
  border: 2px solid #ccc;
}

.wrapper-np-extension {
  width: 300px;
  height: 125px;
  margin: 0 auto;
  text-align: center;
}

/* Columns */
.col1-np-extension, .col2-np-extension {
  display: inline-block;
  width: 45%;
  margin-top: 20px;
  text-align: center;
}

/* Button Styles */
.btn-np-extension {
  background-color: #c4fdf3;
  border: none;
  color: #1b004e;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-family: 'Quicksand';
  font-weight: bold;
  transition: background-color 1s, transform 0.2s, color 0.7s;
}

.btn-np-extension:hover {
  background-color: #1b004e;
  color: #fff;
  transform: scale(1.05);
}

/* Image Styles */
.np-image-extension {
  width: 65px;
  height: 65px;
  border-radius: 10px
}
.np-image-extension:hover {
  cursor: pointer;
}
/* Header Logo */
.logo-np-extension {
  height: 30px;
  width: 92px;
  display: block;
  margin: 10px auto;
}

/* Gradient Background */
.np-extension-body {
  padding: 0;
  margin: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ece2ff 100%);
  border-radius: 10px;
}
