@font-face {
    font-family: 'Styrene A Web';
    src: local('Styrene A Web Regular'), local('Styrene-A-Web-Regular'),
        url('/fonts/StyreneAWeb-Regular.woff2') format('woff2'),
        url('/fonts/StyreneAWeb-Regular.woff') format('woff'),
        url('/fonts/StyreneAWeb-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

.np-extension-html{
    height: 100%;
    border: 2px;
    font-family: Styrene A Web Regular;
}

.wrapper-np-extension {
    width: 300px;
    height: 125px;
  }
.col1-np-extension, .col2-np-extension{
    display: inline-block;
    width: 40%;
    margin-top: 30px;
}
.np-extension-body{
    padding: 0;
    margin: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ece2ff 100%);
}
.col1-np-extension:hover{
    cursor: pointer;
}
.col2-np-extension:hover{
    cursor: pointer;
}
.btn-np-extension:hover{
    cursor: pointer;
}
.logo-np-extension{
    height: 30px;
    width: 92px;
    margin-top: 10px;
    
}
.section-np-extension{
    margin: 0 auto;
    text-align: center;
}

.btn-np-extension {
    background-color: #3800a2; 
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  /* Tooltip text */
.infotext {
    display: none;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
 
